.w40p{  width: 40% !important;}

td.nav  a, td.nav  a:visited {
  color: #fff !important;
}

td.nav  a:hover, td.nav  a:active {
  color: #fff !important;
}

td.nav td.active a {
  color: #fff !important;
}